
body{
    background-color: rgba(255, 252, 247, 1);
    font-family: helvetica;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: rgba(255, 252, 247, 1);
}

h1{
    font-size: 15px; 
    line-height: 100%;
}

.home{
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color:rgba(255, 252, 247, 1) ;
    background-color: rgba(69, 64, 15, 1);
    padding: 1%;
    left: 10px;
    bottom: 10px;
}

.home:hover{
    color: rgba(145, 154, 0, 1) ;
}

.article{
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 252, 247, 1);
}

.article:hover{
    color: rgba(69, 64, 15, 1);
}

.container {
    display: flex;
    flex-direction: row;
}



[class^="column-"] {
    margin-top: 2px;
}

.column-1{
    gap: 20px;
}

.column-2{
    margin-top: 227px;  
}



[class^="item-"] {
    margin-bottom: 74px;
    padding: 15px;
    
    font-size: 22px;
    line-height: 140%;

    width: 300px;
    height: 380px;
}




/* item background colors */

/* .item-1{
    background-color: rgba(149, 245, 175, 1);
}
.item-2{
    background-color: rgba(245, 223, 144, 1);
}
.item-3{
    background-color: rgba(179, 185, 245, 1);
}
.item-4{
    background-color: rgba(247, 158, 160, 1);
}
.item-5{
    background-color: rgba(100, 107, 172, 1);
} */

.item-1{
    background-color: rgba(103, 117, 143, 1);
}
.item-2{
    background-color: rgba(145, 154, 0, 1);
}
.item-3{
    background-color: rgba(175, 88, 98, 1);
}
.item-4{
    background-color: rgba(189, 179, 225, 1);
}
.item-5{
    background-color: rgba(100, 150, 168, 1);
}

